.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    

}

.articulo {
    width: 500px;
    margin: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 0%;

}

p {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}

img {
    width: 450px;
    height: 270px;
    align-items: center;
    
}

